@font-face {
    font-family: 'Syncopate';
    src: url(./assets/fonts/Syncopate-Regular.ttf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Syncopate';
    src: url(./assets/fonts/Syncopate-Bold.ttf) format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(./assets/fonts/CormorantGaramond-Regular.ttf) format('opentype');
    font-weight: 400;
}

body{
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
}